
# 執行 cell：
   * Shfit + Enter 執行該 cell 且跳下一個 cell 
   * Ctrl + Enter 執行該 cell (但停在該 cell)

# 建立變數

[賦值] 變數名稱 = 值

In [ ]:
#mac os command + enter

In [ ]:
a = 131
b = 66
c = 99

In [ ]:
a

In [ ]:
a = "gdwgqw"

In [ ]:
a

### jupyter notebook 的輸出只會將最下面的變數呈現

In [ ]:
a
b
c

### 使用print 可以將變數的值

In [ ]:
print(a)
print(b)
print(c)

print("a : ", a)
print("b : ", b)
print("c : ", c)

# 如何註解：
   *  單行  -> #　　　快捷鍵「Ctrl + /」
   *  多行  -> """  """

In [ ]:
# 計算 1+1
# 結果是2
1+1

In [ ]:
"""
計算
45646+565 *(556-622)
結果是..

目前在做加法
"""

45646+565 *(556-622)

# 函式說明：
  * ?FunctionName
  * help(FunctionName)

In [1]:
?print

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# python常見的資料型態

* 數值 number
     - 整數 integer (int)
     - 浮點數 float
* 字串 string (str)
* 邏輯 boolean (bool): True: 1; False: 0
* 容器型態
     - [列表 list](http://www.runoob.com/python/python-lists.html)
     - [元組 tuple](http://www.runoob.com/python/python-tuples.html)
     - [字典 dict](http://www.runoob.com/python/python-dictionary.html)
     - [集合 set](https://steam.oxxostudio.tw/category/python/basic/set.html)

     
### 分成不可變(immutable)與可變(mutable)
* immutable: int, float, str, bool, tuple
* mutable: list, dict, set

# python常見的資料型態 - 字串 str

In [ ]:
a = 1
b = 2

a + b

In [ ]:
a = '1'
b = "2"

a + b

### 資料型態

In [ ]:
life = "        人生          "
type(life)

### 去除空白

In [ ]:
# 去除右邊空白
life.rstrip()

'        人生'

In [ ]:
# 去除左邊空白
life.lstrip()

'人生          '

In [ ]:
# 去除左右空白
life.strip()

'人生'

### 取代 replace

In [ ]:
a = 123123
string = "aabccdddeefgiljlfj   a"

In [ ]:
# tab => 自動補齊
string.replace('ee', "@")

In [ ]:
string.replace('a', "")

### 格式化

In [ ]:
x = 123
string_1 = 'string_1, x = %s '%x
string_2 = 'string_2, x = {} '.format(x)

print(string_1)
print(string_2)

In [ ]:
y = 23.135356123
string_3 = 'string_3, y = %f '%y
string_4 = 'string_4, y = %.2f '%y
string_5 = f'string_5, y = {y:.2f} '

print(string_3)
print(string_4)
print(string_5)

# python常見的資料型態 - 列表 list

In [ ]:
list_1 = [23, 45, 31, 77, 13, 98, 65, 23, 6, 12, 3 ,63, 475, 163, 20] 
type(list_1)

### 索引，取出元素

In [ ]:
print(list_1[3])
print(list_1[3:])
print(list_1[1:4])
print(list_1[-1])
print(list_1[::2]) ##  [<開始>:<結束>:<步伐>]

77
[77, 13, 98, 65, 23, 6, 12, 3, 63, 475, 163, 20]
[45, 31, 77]
20
[23, 31, 13, 65, 6, 3, 475, 20]

### append : 加入元素

In [ ]:
list_1.append('Jeff')

In [ ]:
list_1

### len()：計算 list 長度

In [ ]:
len(list_1)

# Range

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(4,10))

In [ ]:
sum(list(range(4,20, 2)))/len(list(range(4,20, 2)))

# 能不能做更多處理- 套件

In [ ]:
import numpy

In [ ]:
list_2 = [52.0, 52.6, 54.1, 53.8, 54.3, 54.3, 53.7, 53.9, 53.9, 53.9, 54.2, 54.1, 54.0, 54.4, 53.8, 55.7, 56.1, 57.0, 58.1]

list_2_array = numpy.array(list_2)

In [ ]:
list_2_array

In [ ]:
type(list_2_array)

### 統計運算

In [ ]:
print("std  : ", list_2_array.std())   ## 標準差
print("mean : ", list_2_array.mean())  ## 平均值
print("sum  : ", list_2_array.sum())   ## 全部加總

# 廣播運算

In [ ]:
list_2_array + 100

In [ ]:
list_2_array * -5

# 維度

In [ ]:
list_2_array

In [ ]:
list_2_array.shape

In [ ]:
# (row, column)
list_2_array.reshape(-1,1) ## 變成 1個 column , 剩下轉到 row

In [ ]:
list_2_array

In [ ]:
list_2_array.reshape(1, -1) ## 變成 1個 row, 剩下轉到 column

In [ ]:
arr2 = numpy.array([1,2,3,4,5,6])

In [ ]:
arr2.reshape(-1,1)

In [ ]:
arr2.reshape(3,2) ## 變成3個row, 2個column

# 表格處理 Pandas

In [ ]:
list_3 =[
 ['2021-07-01', '2881', '富邦金', 73.4, 13667],
 ['2021-07-02', '2881', '富邦金', 72.9, 16074],
 ['2021-07-05', '2881', '富邦金', 73.9, 12814],
 ['2021-07-06', '2881', '富邦金', 73.7, 16566],
 ['2021-07-07', '2881', '富邦金', 74.0, 13018],
 ['2021-07-08', '2881', '富邦金', 74.8, 23078],
 ['2021-07-09', '2881', '富邦金', 74.2, 24115],
 ['2021-07-12', '2881', '富邦金', 76.1, 68581],
 ['2021-07-13', '2881', '富邦金', 76.2, 39647],
 ['2021-07-14', '2881', '富邦金', 78.1, 38851],
 ['2021-07-15', '2881', '富邦金', 79.5, 34723],
 ['2021-07-01', '2882', '國泰金', 53.9, 16255],
 ['2021-07-02', '2882', '國泰金', 53.9, 13291],
 ['2021-07-05', '2882', '國泰金', 54.2, 15417],
 ['2021-07-06', '2882', '國泰金', 54.1, 16195],
 ['2021-07-07', '2882', '國泰金', 54.0, 17361],
 ['2021-07-08', '2882', '國泰金', 54.4, 30765],
 ['2021-07-09', '2882', '國泰金', 53.8, 34898],
 ['2021-07-12', '2882', '國泰金', 55.7, 86411],
 ['2021-07-13', '2882', '國泰金', 56.1, 56176],
 ['2021-07-14', '2882', '國泰金', 57.0, 52106],
 ['2021-07-15', '2882', '國泰金', 58.1, 55396],
 ['2021-07-01', '2883', '開發金', 13.05, 56270],
 ['2021-07-02', '2883', '開發金', 13.15, 42402],
 ['2021-07-05', '2883', '開發金', 13.25, 60747],
 ['2021-07-06', '2883', '開發金', 13.3, 60280],
 ['2021-07-07', '2883', '開發金', 13.5, 92229],
 ['2021-07-08', '2883', '開發金', 13.95, 161756],
 ['2021-07-09', '2883', '開發金', 13.7, 94825],
 ['2021-07-12', '2883', '開發金', 13.95, 110305],
 ['2021-07-13', '2883', '開發金', 13.8, 100155],
 ['2021-07-14', '2883', '開發金', 13.95, 68670],
 ['2021-07-15', '2883', '開發金', 14.2, 84279]]

In [ ]:
import pandas as pd # as 是縮寫，給小名的意思

In [ ]:
table = pd.DataFrame(list_3, columns=['date', 'code', 'name','price', 'volume'])

In [ ]:
table

### index, columns, values, shape

In [ ]:
print('columns : ', table.columns)
print('index /row : ', table.index)

In [ ]:
table.index = table['date']
table.index

In [ ]:
table.shape

In [ ]:
table['name'].values

In [ ]:
# 資料維度
table['name'].shape

# 表格基本訊息

In [ ]:
table.info()

# 基本統計

In [ ]:
table.describe()

In [ ]:
table.describe(include='all')

# 流程控制

# if-elif-else

In [ ]:
A = 3
B = 2

if A == B:
    print('A = B')
else:
    print('A != B')

In [ ]:
# 巢狀條件判斷 if-elif-else
# 小明考試成績, 請老師給他分數

score = ?
if 80 < score <= 100:
    print("太聰明了")
elif 60 < score <= 80:
    print("有進步的空間")
elif 40 < score <= 60:
    print("小明...要加油啦...")  
elif score <= 40:
    print("回家要吃棍子了")
else:
    print("這個分數有問題吧")

# for 迴圈

In [ ]:
# 從 0印出來到 9
for i in range(10):
    print(i)

In [ ]:
student_names = ["James", "Mary", "Bob", "Patrick", "John"]
for name in student_names:
    print("班上的學生有：",name)

In [ ]:
for idx, name in enumerate(student_names):
    print("班上的學生有：",name,"  ，學號是",idx)

# break 與 continue

In [ ]:
# 到5就結束
for i in range(20):
    if i == 5:
      break
    print(i)

In [ ]:
# 到5就跳過
for i in range(20):
    if i == 5:
        continue
    print(i)

# 自定函式 (Functions)

In [ ]:
# def function
def doSquare(x): 
    print('this x is ', x)
    print('this x + 10 is ', x+10)
    return x**2

In [ ]:
doSquare(100)

### 預設輸入值

In [ ]:
def printValue(x = "No input"): 
    print("You input : ", x)


printValue()
printValue(32423)